/* src/index.css */
/* src/index.css */
#root {
  margin: 50px;
  padding: 0px;
  text-align: center;
  align-items: center;
}

@font-face {
  font-family: "Hylia Serif";
  src: url("./components/HyliaSerifBeta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1f3b1c;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hylia Serif";
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

/* Style headings */
h1 {
  font-family: "Hylia Serif";
  font-size: auto;
  color: #ccba80;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.game-item h2 {
  color: #ffcc29;
}

h2 {
  color: #ccba80;
  text-align: center;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style links */
a {
  color: #ccba80;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
p {
  text-align: center;
  color: #ccba80;
}
h4 {
  color: #ccba80;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h5 {
  color: #ccba80;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  font-family: "Hylia Serif";
}

.pagination button {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "Hylia Serif";
}

.pagination button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.pagination button.active {
  background-color: #1f3b1c;
  color: #ffcc29;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ffcc29;
  border-radius: 5px;
  background-color: #1f3b1c;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.character-list ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.character-list li {
  margin: 20px 0;
  padding: 10px;
  background-color: #141b0d;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.character-list h3 {
  font-size: 20px;
  color: #ffcc29;
  margin-bottom: 5px;
}

.character-list p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.character-list a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #ffcc29;
  text-decoration: none;
  font-weight: bold;
}

.character-list a:hover {
  text-decoration: underline;
}

.character-list .back-button a {
  color: #ffcc29;
  text-decoration: none;
  font-weight: bold;
}

.character-list .back-button a:hover {
  text-decoration: underline;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#triforce {
  margin: 0px auto;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#triangle {
  content: "";
  position: relative;
  width: 0px;
  height: 0px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 104px solid #ffbc00;
}
#triangle:before {
  content: "";
  position: absolute;
  display: block;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 104px solid #ffbc00;
  top: 104px;
  left: -120px;
}
#triangle:after {
  content: "";
  position: absolute;
  display: block;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 104px solid #ffbc00;
  top: 104px;
}
#shadow {
  content: "";
  width: 0px;
  height: 0px;
  position: relative;
  z-index: -1;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 104px solid #ff8c00;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  top: 27px;
  left: -73px;
}
#shadow:before {
  content: "";
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 104px solid #ff8c00;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
}
#shadow:after {
  content: "";
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 104px solid #ff8c00;
  position: absolute;
  display: block;
  top: -104px;
  left: 60px;
}

.button-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin-top: 20px; 
}


.show-games-button,
.show-games-button-1,
.show-games-button-2,
.show-games-button-3 {
  background-color: transparent;
  color: #ffbc00;
  font-family: "hylia serif";
  margin: 5px;
  border: 2px solid #ffbc00; 
  padding: 10px 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.show-games-button:hover,
.show-games-button-1:hover,
.show-games-button-2:hover {
  background-color: #ffbc00;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.show-games-button,
.show-games-button-1,
.show-games-button-2 {
  border-radius: 5px;
}

.show-games-button,
.show-games-button-1,
.show-games-button-2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .show-games-button {
  background-color: #FFBC00;
  color: #000;
}

.show-games-button-1 {
  background-color: #FFBC00;
  color: #000;
}

.show-games-button-2 {
  background-color: #FFBC00;
  color: #000;
} */

.game-detail {
  background-color: #141b0d;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.game-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-detail p {
  font-size: 16px;
  line-height: 1.5;
}

.back-button {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.back-button a {
  color: #ffcc29;
  text-decoration: none;
  font-weight: bold;
}

.back-button a:hover {
  text-decoration: underline;
}

.game-detail-page {
  background-color: #141b0d;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.game-detail-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-detail-page p {
  font-size: 16px;
  line-height: 1.5;
}

.back-button {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.back-button a {
  color: #ffcc29;
  text-decoration: none;
  font-weight: bold;
}

.back-button a:hover {
  text-decoration: underline;
}

.monster-list {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.monster-list h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.monster-list ul {
  list-style-type: none;
  padding: 0;
}

.monster-list li {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.monster-list h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.monster-list p {
  font-size: 16px;
  color: #333;
}

.monster-list img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  background-color: #1f3b1c;
  color: #ccba80;
  padding: 10px;
  margin-top: 20rem;
}

@media (min-width: 306px) {
  .center-container {
    height: 25vh;
  }

  .button-container {
    margin-top: 30px;
    margin: 0px;
    justify-content: center;
  }
  .search-container {
    width: 100%;
  }

  .show-games-button,
  .show-games-button-1,
  .show-games-button-2,
  .show-games-button-3 {
    padding: 10px 12px;
  }
}
